@font-face {
    font-family: "revecca";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/revecca/revecca.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/revecca/revecca.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/revecca/revecca.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/revecca/revecca.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/revecca/revecca.ttf") format("truetype");
    font-display: swap;
}
.revecca {
    font-family: "revecca";
}